.hero {
  background-color: color("primary");
  width: 100%;
  height: 110vh;
  transition: all 1s ease-in-out;

  &.sidebar-open {
    transition: all 1s ease-in-out;
    filter: blur(5px);
  }

  &_video {
    filter: blur(2px);
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  &_wrapper {
    &_out {
      top: 0;
      position: absolute;
      display: flex;
      height: 110vh;
      width: 100%;
      background-color: rgba(100, 100, 100, 0.2);
      align-items: center;
      justify-content: center;
      transition-duration: 1s;
      transition-timing-function: ease-in-out;

      &.sidebar-open {
        opacity: 0;
        transition-duration: 1s;
        transition-timing-function: ease-in-out;
      }
    }
    &_in {
      position: absolute;
      margin-top: 100px;
      padding: 100px 20px;
      height: 70vh;
      width: 90vw;
      background-color: rgba(40, 40, 50, 0.5);
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;

      @include if-mobile {
        width: 80vw;
      }
    }
  }
  &_h1 {
    color: color("primary");
    text-shadow: 2px 2px black;
  }

  &_p {
    margin-top: 15px;
    max-width: 400px;
    color: color("light-grey");
    text-shadow: 2px 2px black;
    font-size: 0.8rem;
  }

  &_p2 {
    margin-top: 10px;
    color: color("light-grey");
    text-shadow: 2px 2px black;
  }
}
