.main-layout {
    align-items: center;
    background-color: color('light-sepia');
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    overflow-y: visible;
    
    &_body {
        display: flex;
    }
}



