.sidebar {
  display: flex;
  position: fixed;
  background-color: rgba(40, 40, 50, 0.7);
  height: 0;
  width: 0;
  z-index: 100;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: -130%;
  transition: 1s ease-in-out;
  &.isOpen {
    opacity: 100%;
    top: 0;
    transition: 1s ease-in-out;
    height: 100vh;
    width: 100vw;
  }

  &_icon {
    position: absolute;
    top: 26px;
    right: 30px;
    width: 30px;
  }

  &_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;

    &_item {
      cursor: pointer;
      display: flex;
      align-items: center;
      color: color("light-grey");
      text-align: center;
      font-size: 1.6rem;
      padding: 30px;
      text-shadow: 2px 2px black;
    }

    &_button {
      margin-top: 40px;
      color: color("light-grey");
      cursor: pointer;
      font-family: "Sen", sans-serif;
      font-size: 1.6rem;
      background-color: color("primary");
      height: 50px;
      border: none;
      padding: 10px 30px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-shadow: 2px 2px black;
      text-decoration: none;
      box-shadow: 2px 2px black;
    }
  }
}
